In [1]:
import pandas as pd

In [2]:
import numpy as np

# Data Preprocessing

In [3]:
df = pd.read_csv('weight-height.csv')

In [5]:
pd.DataFrame(df).head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [7]:
df.keys()

Index(['Gender', 'Height', 'Weight'], dtype='object')

In [14]:
X = df.iloc[:,1:3].values
y = df.iloc[:,0].values

In [19]:
pd.DataFrame(X).head()

           0           1
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [18]:
pd.DataFrame(y)

           0
0       Male
1       Male
2       Male
3       Male
4       Male
...      ...
9995  Female
9996  Female
9997  Female
9998  Female
9999  Female

[10000 rows x 1 columns]

In [20]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=0) #75% training data by default"

In [26]:
X_train.shape

(7500, 2)

In [27]:
X_test.shape

(2500, 2)

# Training Model

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
knn = KNeighborsClassifier()

In [30]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

# Predicting Model

In [31]:
y_pred = knn.predict(X_test)

In [32]:
knn.score(X_test, y_test)

0.9016

In [39]:
X_new = np.array([[68.0410675467272,186.057475771908],[64.0724731933834,153.465039447212]])
prediction = knn.predict(X_new)

In [40]:
prediction

array(['Male', 'Female'], dtype=object)

In [42]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [43]:
score = accuracy_score(y_test, y_pred)
cm = confusion_matrix(y_test, y_pred,sample_weight=None, normalize=None)

In [44]:
print('Accuracy Score',score*100,'%')

Accuracy Score 90.16 %

In [47]:
print('Confusion Matrix')
print(cm)

Confusion Matrix
[[1122  115]
 [ 131 1132]]